@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color:#EEEEEE; /* Light background color for better readability */
    color: #333; /* Dark text color for contrast */
}

header {
    background-color: #134B70; /* Bright blue for header */
    padding: 20px;
    color: white;
    font-family: 'Helvetica', sans-serif; /* Apply Futura font */
    font-size: medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.logo span {
    font-size: 1.2em; /* Increased size */
    font-weight: bold; /* Make the name bold */
}


.auth-buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.auth-buttons .login,
.auth-buttons .signup {
    background-color: #0072bc;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-family: 'Helvetica', sans-serif; /* Apply Futura font */
    transition: background-color 0.3s ease;
    border-radius: 20px;
    font-size: 0.7em;
    font-weight: bold;
}

.auth-buttons .signup {
    background-color: #00b140;
}

.auth-buttons .login:hover,
.auth-buttons .signup:hover {
    background-color: #005bb5; /* Darker blue on hover for login */
}

.auth-buttons .signup:hover {
    background-color: #008f3d; /* Darker green on hover for signup */
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: black; /* Dark text color for hero section */
    text-align: left;
}

.analytics-image {
    flex: 1;
    max-width: 75%;
    height: auto;
    margin-right: 20px;
}

.analytics-image img {
    width: 100%;
    height: auto;
}

.hero-text {
    flex: 1;
    max-width: 500px;
}

.hero-text h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Futura', sans-serif; /* Apply Futura font */
}

.hero-text p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero-text .trial {
    background-color: #00b140;
    border: none;
    padding: 15px 30px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.3s ease;
    border-radius: 30px;
}

.hero-text .trial:hover {
    background-color: #008f3d; /* Darker green on hover */
}

.hero-text .compare {
    color: #4A90E2; /* Bright blue for compare link */
    text-decoration: underline;
    transition: color 0.3s ease;
}

.hero-text .compare:hover {
    color: #75c08e; /* Light green hover effect */
}

.heading {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    color: #4A90E2; /* Bright blue for headings */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #4A90E2;
    color: white;
}

td {
    background-color: #e6f2ff; /* Light blue for table cells */
}
